body {
  color: white;
}

.navigation {
  position: fixed;
  margin: auto;
}

.navigation a {
  text-decoration: none;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-kerning: inherit;
  padding: 20px;
  text-decoration-color: white;
  }

a:hover {
  
    opacity: 0.7;
    color: white;
    text-decoration: none;
  
}
