.App {
  text-align: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  z-index: 2;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.name {
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 85px;
  margin: 145px 20px;
  
}

.name:hover {
  box-shadow:
                1px 1px #EB533B,
                2px 2px #EB533B,
                3px 3px #EB533B;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}



.hiddentext {
  display: none;
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 40px;
}

.name:hover .hiddentext {
  display:block;
  transition-timing-function: ease-in-out;
}
.name:hover {
  color: transparent;
}


