.App {
  text-align: center;
}

.name {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 75px;
  margin: 145px 20px;
}

.navigation a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-kerning: inherit;
  padding: 20px;
}
