.App {
  text-align: center;
}

.name {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 75px;
  margin: 145px 20px;
  
}

.name:hover {
  box-shadow:
                1px 1px #EB533B,
                2px 2px #EB533B,
                3px 3px #EB533B;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}



.hiddentext {
  display: none;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
}

.name:hover .hiddentext {
  display:block;
}
.name:hover {
  color: transparent;
}



